body {
    background-color: #F4F9F9;
    margin: 0;
}

#content {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-columns: repeat(4, 1fr);
}

.header {
    background-color: #495464;
    
    grid-row: 1;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#searchbar {
    border: none;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    height: 25px;
    grid-column: 3 /4;
}

#headerTitle {
    font-size: 45px;
    margin-left: 20px;
    grid-column: 1;
    color: #F4F4F2;
}

#sidebar {
    background-color: #E8E8E8;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    text-align: center;
}

.sidebarLabel {
    font-weight: bold;
    font-size: 35px;
}

#sidebar > button {
    font-weight: bold;
    background-color: #E8E8E8;
    border: none;
    border-radius: 20px;
    font-size: large;
    width: 80%;
    padding: 5px;
    margin: 5px 10px 5px 10px;
}

#sidebar > button:hover {
    background-color: #F4F4F2;
    cursor: pointer;

}

#sidebar > ul {
    list-style: none;
    padding: 0%;
}

.pageContent {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    padding: 15px;
    margin: 20px auto 20px auto;
}

#taskFormBox {
    position: absolute;
    top: 20%;
    left: 45%;
    background-color: #495464;
    border-radius: 10px;
    display: none;
    color: #F4F4F2;
}
#taskForm {
    padding: 10px;
    text-align: left;
}

#formCloseBtn {
    border-radius: 50%;
    background-color: #F4F4F2;
    color: #495464;
    font-size: 2rem;
    position: absolute;
    border: none;
    top: -4%;
    left: 90%;
}
#formCloseBtn:hover {
    cursor: pointer;
    top: -4.5%;
}

#taskForm > label {
    width: 100px;
}